# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo

# ビルド成果物（実行ファイルやバイナリ）
bin/
obj/

# Visual Studio ユーザー設定ファイル
.vs/
*.user
*.suo

# .NET のデバッグ・プロファイリング関連
*.pdb
*.ilk
*.ncb

# NuGet パッケージ
packages/
*.nupkg
project.lock.json

# ログファイル
*.log

# その他不要なファイル
Thumbs.db
Desktop.ini